{% extends "core/base.html" %}
{% load static %}
{% block principal %}


<div class="mt-0 p-5 text-white text-center" style="background-color: #7A6BBC;">
    <h1>Catalogo de Mascotas</h1>
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="{% static 'core/img/catalogo/catalogo(1).JPEG' %}" alt="Minina" />
                    <div class="card-body">
                        <h4 class="card-title">Minina - Adopcion</h4>
                        <p class="card-text"><li>Blanquita con manchas grises.</li>
                            <li>Le encantan las caricias.</li>
                            <li>Mansita y Cariñosa.</li>
                            <li>Ubicacion San Clemente, Region del Maule.</li>
                            <li>Numero de contacto +56967529753.</li>
                        </p>
                        <a href="#" class="btn btn-primary" style="background-color: #a693ff; border-color: #a693ff;">Saber Mas</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="{% static 'core/img/catalogo/catalogo (2).JPEG' %}" alt="Tupac" />
                    <div class="card-body">
                        <h4 class="card-title">Tupac - Adopcion</h4>
                        <p class="card-text"><li>Pequeñin de 3 meses.</li>
                            <li>Le gusta el el rap.</li>
                            <li>Tambien es muy amistoso.</li>
                            <li>Ubicacion Quilicura, Region Metropolitana.</li>
                            <li>Numero de contacto +56962339820.</li>
                        </p>
                        <a href="#" class="btn btn-primary" style="background-color: #a693ff; border-color: #a693ff;">Saber Mas</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="{% static 'core/img/catalogo/catalogo (3).JPEG' %}" alt="Cuchina" />
                    <div class="card-body">
                        <h4 class="card-title">Cuchina - Adopcion</h4>
                        <p class="card-text"><li>Bella gatita tricolor.</li>
                            <li>Juguetona.</li>
                            <li>Timida pero cariñosa.</li>
                            <li>Ubicacion Maipu, Region Metropolitana.</li>
                            <li>Numero de contacto +56945845756.</li>
                        </p>
                        <a href="#" class="btn btn-primary" style="background-color: #a693ff; border-color: #a693ff;">Saber Mas</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="{% static 'core/img/catalogo/catalogo (4).JPEG' %}" alt="Goku" />
                    <div class="card-body">
                        <h4 class="card-title">Goku - Adopcion</h4>
                        <p class="card-text"><li>Gatito rubio muy jugueton.</li>
                            <li>Le encanta socializar.</li>
                            <li>Mansito y regalon.</li>
                            <li>Ubicacion Maipu, Region Metropolitana.</li>
                            <li>Numero de contacto +56945845756.</li>
                        </p>
                        <a href="#" class="btn btn-primary" style="background-color: #a693ff; border-color: #a693ff;">Saber Mas</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="{% static 'core/img/catalogo/catalogo (6).JPEG' %}" alt="Ramon" />
                    <div class="card-body">
                        <h4 class="card-title">Ramon - Extraviado</h4>
                        <p class="card-text"><li>Extraviado en Maipu.</li>
                            <li>1 Añito.</li>
                            <li>Muy asustadizo.</li>
                            <li>Ubicacion Maipu, Region Metropolitana.</li>
                            <li>Numero de contacto +56987456983.</li>
                        </p>
                        <a href="#" class="btn btn-primary" style="background-color: #a693ff; border-color: #a693ff;">Saber Mas</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="{% static 'core/img/catalogo/catalogo (5).JPEG' %}" alt="Salem" />
                    <div class="card-body">
                        <h4 class="card-title">Salem - Adopcion</h4>
                        <p class="card-text"><li>Pequeñin de 2 meses.</li>
                            <li>Muy curioso.</li>
                            <li>Le gusta mucho dormir.</li>
                            <li>Ubicacion Maipu, Region Metropolitana.</li>
                            <li>Numero de contacto +56945845756.</li>
                        </p>
                        <a href="#" class="btn btn-primary" style="background-color: #a693ff; border-color: #a693ff;">Saber Mas</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="{% static 'core/img/catalogo/catalogo (7).JPEG' %}" alt="Sombra" />
                    <div class="card-body">
                        <h4 class="card-title">Sombra - Adopcion</h4>
                        <p class="card-text"><li>Pequeña negrita.</li>
                            <li>Muy bien portada.</li>
                            <li>Le gusta tomar solcito.</li>
                            <li>Ubicacion Pirque, Region Metropolitana.</li>
                            <li>Numero de contacto +56932451846.</li>
                        </p>
                        <a href="#" class="btn btn-primary" style="background-color: #a693ff; border-color: #a693ff;">Saber Mas</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="{% static 'core/img/catalogo/catalogo (8).JPEG' %}" alt="Pelusa" />
                    <div class="card-body">
                        <h4 class="card-title">Pelusa - Adopcion</h4>
                        <p class="card-text"><li>Gatita Carey.</li>
                            <li>Pequeña y amorosa.</li>
                            <li>Muy juguetona.</li>
                            <li>Ubicacion Pirque, Region Metropolitana.</li>
                            <li>Numero de contacto +56915489858.</li>
                        </p>
                        <a href="#" class="btn btn-primary" style="background-color: #a693ff; border-color: #a693ff;">Saber Mas</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="{% static 'core/img/catalogo/catalogo (11).JPEG' %}" alt="Rusio" />
                    <div class="card-body">
                        <h4 class="card-title">Rusio - Adopcion</h4>
                        <p class="card-text"><li>Pequeñin de 3 meses.</li>
                            <li>Fue rescatado de unos perros.</li>
                            <li>Muy curioso y jugueton.</li>
                            <li>Ubicacion La Florida, Region Metropolitana.</li>
                            <li>Numero de contacto +56975482154.</li>
                        </p>
                        <a href="#" class="btn btn-primary" style="background-color: #a693ff; border-color: #a693ff;">Saber Mas</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
        

{% endblock principal %}
