{% extends "core/base.html" %}
{% load static %}
{% block principal %}

<link href={% static 'core/css/recuperar_contrasena.css' %} rel="stylesheet" />


<!-- Formulario de inicio de sesión -->
<div class="form-container">
    <form action="procesar_login.php" method="post">
        <h1 class="main-title">Recuperar tu cuenta</h1>
        <h2>Por favor ingresa tu RUT sin puntos ni guión.</h2>

        <div>
            <label for="rut" style="margin-top: 20px;">Rut:</label>
            <input type="password" id="rut" name="rut" required>
        </div>
        
        <button type="submit" style="margin-top: 20px;">Recordar Contraseña</button>
        <div class="forgot-password">
            <a href="{% url 'login' %}">¿Ya tienes cuenta? Inicia Sesión</a>
        </div>

    </form>
</div>
<!-- Fin del formulario de inicio de sesión -->

   

{% endblock principal %}
