{% extends "core/base.html" %}
{% load static %}


{% block principal %}

<!-- INICIO JUMBOTRON -->
<div class="mt-0 p-55 text-white text-center" style="background-color: #7A6BBC;">
    <h1>Registro de Usuario</h1>
    <p>
        Por favor completa el siguiente formulario para poder navegar por el sitio.
    </p>

</div>
<!-- FIN JUMBOTRON -->



<!-- INICIO FORMULARIO -->
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <!-- Inicio del formulario -->
            <form action="{% url 'registro' %}" method="POST" id="formulario">
                
                <div class="mb-3">
                    {% csrf_token %}          
                    {{form}}
                </div> 
                <button class="btn" type="submit" value="Submit" id="btnGuardar" name="btnGuardar" style="background-color: #a693ff; color: white;">Registrar Datos</button>


            </form> 

        </div>
        <div class="col-md-2"></div>
    </div>
</div>


<script src="{% static 'core/js/script.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script> 
    Swal.fire("Por favor completa el formulario");                       
</script>

<!-- FIN FORMULARIO -->
{% endblock principal %}
