{% extends "core/base.html" %}
{% load static %}
{% block principal %}

<!-- INICIO JUMBOTRON -->
<div class="mt-0 p-5 text-white text-center" style="background-color: #7A6BBC;">
    <h1>¿Quiénes somos?</h1>
    <p>
        Somos el primer espacio dedicado a facilitar la adopción responsable de mascotas y contribuir al bienestar animal.
    </p>
    <h1>¿Cómo funciona?</h1>
    <p>
        Acá podrás encontrar a tu peludo con tan solo dar ¡LIKE!. Nuestra App te permite encontrar mascotas disponibles para adopción cerca de tu ubicación. Puedes buscar mascotas por categorías como perros, gatos, etc., y ver sus perfiles detallados con información sobre su edad, historial veterinario completo, y fotografías. Adémas, podrás publicar mascotas perdidas como encontrar a tu amigo mas fiel.
    </p>
    <h1>Características principales</h1>
    <li>Publica animales que necesitan un hogar o están perdidos.</li>
    <li>Encuentra mascotas disponibles para adopción basadas en tu ubicación.</li>
    <li>Sistema de comunicación entre adoptantes y personas que publican mascotas.</li>
    <li>Consejos y recomendaciones para el cuidado adecuado de mascotas.</li>
    <li>Somos anti-venta de animales. </li>

    
    <a href="#" class="mt-5 btn btn-primary" style="background-color: #a693ff; border-color: #a693ff;">Descarga Nuestra App</a>

</div>
<!-- FIN JUMBOTRON -->

{% endblock principal %}


