{% extends 'core/base.html' %}
{% load static %}


{% block principal %}
<div class="container d-flex justify-content-center">
    <form class="mt-2 my-auto" id="registroMascota" enctype="multipart/form-data" method="POST" action="{% url 'agregarmascota' %}">
        {% csrf_token %}
        {{form}}
        <div>
            <label for="estado">Estado Mascota: </label>
            <select id="estado" name="estado" class="form-control" required>
                <option value="adopcion">En Adopción</option>
                <option value="perdido">Perdida</option>
            </select>
    
        </div>
        <button class="mt-2" type="submit" value="Submit">Agregar Mascota</button>
    
    </form>
    
</div>



<script src="{% static 'core/js/script.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    Swal.fire("Por favor completa el formulario");                       
</script>
<link href="{% static 'core/css/recuperar_contrasena.css' %}" rel="stylesheet" />

{% endblock %}